/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
/* header */
header {
  float: left;
  width: 100%;
  background: rgb(255, 255, 255);
  clear: both;
}

nav {
  float: left;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.menu-icon {
  float: left;
  width: 20%;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo,
.ul-list,
.ul-list li,
.b-online {
  float: left;
}

.logo {
  width: 60%;
  text-align: center;
}

.ul-list {
  width: 60%;
  display: flex;
  align-items: center;
  display: none;
}

.b-online {
  width: 20%;
  text-align: right;
  font-size: 0.6rem;
}

li {
  margin-right: 5%;
}

/* main */
.home {
  float: left;
  width: 100%;
}

.img {
  float: left;
  width: 100%;
}

main {
  float: left;
  background: url(https://cdn.glitch.global/ecc9a155-9ad5-4e70-99c8-7f31bbde2ce3/thumbnails%2Fgirl.png?1644957765528);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  padding: 20px;
}

main .main-text {
  float: left;
  width: 100%;
  color: white;
  font-weight: 100;
}

h1 {
  font-weight: 500;
  margin: 10px 0;
  font-family: "Cormorant Garamond", serif;
}

h4 {
  margin: 0;
  font-family: "Cormorant Garamond", serif;

  font-weight: 500;
  font-size: 0.8rem;
}

section.services {
  margin-bottom: 50px;
  margin-top: 20px;
  width: 40%;
  text-align: center;
  padding: 10px;
}

.services a {
  font-family: "Cormorant Garamond", serif;
  color: white;
  font-size: 0.8rem;
}

.b-bg {
  font-family: "Cormorant Garamond", serif;
  float: left;
  width: 60%;
  background: black;
  color: white;
  clear: both;
  padding: 20px 0 30px 0;
  font-size: 0.8rem;
}

.b-bg span {
  font-size: 2rem;
  font-weight: 600;
}

.p-first {
  border-left: solid white 5px;
  padding: 15px 20px;
  margin: 0;
}

.b-bg p + p {
  padding: 0 20px 15px 24px;
}

.b-bg p + p + a {
  background: white;
  padding: 10px;
  margin: 5px 0 0 26px;
}

.features {
  float: left;
  width: 100%;
  text-align: center;
  padding: 40px 10px;
}

article {
  padding-bottom: 20px;
}

.features h3 {
  font-family: "Cormorant Garamond", serif;
}

.momentum {
  float: left;
  width: 100%;
  background: rgb(243, 244, 246);
  text-align: center;
  padding: 40px 30px;
}

.momentum article h2 {
  font-family: "Cormorant Garamond", serif;
}

.read {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.read a {
  font-family: "Cormorant Garamond", serif;
  color: white;
  padding: 10px 20px;
  background: black;
}

.video {
  float: left;
  width: 100%;
}

video {
  width: 90%;
}

.crew {
  font-family: "Cormorant Garamond", serif;
  float: left;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.crew-pic {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.crew-pic img {
  float: left;
  width: 80%;
}

.name {
  padding: 10px;
  float: left;
  width: 60%;
  background-color: black;
  color: white;
  transform: translateY(-30px);
}

.name h3,
.name p {
  margin: 0;
}

.offer {
  float: left;
  width: 100%;
  background: url(https://cdn.glitch.global/ecc9a155-9ad5-4e70-99c8-7f31bbde2ce3/thumbnails%2Fdiscount.jpg?1644957764200);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 30px;
  font-family: "Cormorant Garamond", serif;
}

.offer h3 {
  font-size: 0.6rem;
  margin-bottom: 0;
  float: left;
  width: 100%;
}

.offer-info span {
  font-size: 2rem;
  font-weight: 600;
}

.offer-info p {
  float: left;
  width: 100%;
  font-size: 0.8rem;
  padding-bottom: 20px;
  margin-top: 8px;
}

.offer-info a {
  font-family: "Cormorant Garamond", serif;
  color: white;
  padding: 10px;
  background: black;
  font-size: 0.6rem;
}

.our-look {
  float: left;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.look {
  display: flex;
  float: left;
  width: 48%;
  flex-wrap: wrap;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  height: 200px;
}

.our-look i {
  opacity: 0;
  float: left;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: black;
  color: white;
}
.our-look i:hover {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.look {
  bacground-repeat: no-repeat;
}
.look1 {
  background: url(https://cdn.glitch.global/ecc9a155-9ad5-4e70-99c8-7f31bbde2ce3/thumbnails%2Fgirlsqr.jpg?1644957768156)-100px;
  background-size: cover;
}
.look2 {
  background: url(https://cdn.glitch.global/ecc9a155-9ad5-4e70-99c8-7f31bbde2ce3/thumbnails%2Fgg.jpg?1644957772311)-70px;
  background-size: cover;
}
.look3 {
  background: url(https://cdn.glitch.global/ecc9a155-9ad5-4e70-99c8-7f31bbde2ce3/thumbnails%2Fgrid3-2.jpg?1644957772454)-90px;
  background-size: cover;
}
.look4 {
  background: url(https://cdn.glitch.global/ecc9a155-9ad5-4e70-99c8-7f31bbde2ce3/thumbnails%2Fdsd.jpeg?1644957765201);
  background-size: cover;
}
.look5 {
  background: url(https://cdn.glitch.global/ecc9a155-9ad5-4e70-99c8-7f31bbde2ce3/thumbnails%2Fsdx.jpeg?1644957766730);
  background-size: cover;
}
.look6 {
  background: url(https://cdn.glitch.global/ecc9a155-9ad5-4e70-99c8-7f31bbde2ce3/thumbnails%2Fgirlsqr.jpg?1644957768156)-100px;
  background-size: cover;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (min-width: 1000px) {
  nav {
    padding: 15px 50px;
  }
  a {
    cursor: pointer;
  }

  .menu-icon {
    display: none;
  }

  .ul-list {
    display: block;
  }

  .logo {
    width: 20%;
    text-align: left;
  }

  main {
    background-position: 0px -50px;
    background-size: 100% 600px;
  }

  main section {
    padding: 52px;
  }

  h1 {
    font-size: 5rem;
  }
  h1 + h4 {
    font-size: 1.6rem;
  }

  section.services {
    width: 20%;
  }
  .services a {
    font-size: 1.5rem;
  }
  .b-bg {
    width: 28%;
    margin-left: 52px;
  }
  .p-first {
    font-size: 1.2rem;
  }
  .p-first + p {
    font-size: 1.5rem;
  }
  .p-first + p + a {
    font-size: 1.2rem;
  }

  .features {
    padding: 100px 90px;
    float: left;
    width: 100%;
    display: flex;
    gap: 20px;
  }

  .momentum {
    padding: 40px 90px;
  }

  .momentum article {
    float: left;
    width: 50%;
    text-align: left;
    padding-right: 20px;
  }
  .read {
    text-align: left;
  }

  .video {
    float: left;
    width: 50%;
  }
  video {
    width: 100%;
  }

  .crew {
    display: flex;
    flex-direction: row;
  }

  .crew-pic {
    float: left;
    width: 33.3333%;
  }

  .crew-pic img {
    width: 70%;
  }

  .c-one img {
    width: 71%;
  }

  .offer {
    width: 100%;
    background-size: 80%;
    background-position: 50% 50%;
    display: flex;
  }
  .offer-info {
    padding-left: 15%;
  }
  .offer-info h3 {
    font-size: 1.2rem;
  }
  .offer-info p {
    font-size: 1.6rem;
  }
  .offer-info span {
    font-size: 3rem;
  }
  .offer-info a {
    font-size: 1.1rem;
  }

  .our-look {
    padding: 40px;
    gap: 10px;
  }
  .look {
    width: 28.4%;
  }

  .look3,
  .look4,
  .look6 {
    height: 400px;
  }

  .look1,
  .look2,
  .look5 {
    transform: translateY(-100px);
  }

  .look4,
  .look6 {
    transform: translateY(-200px);
  }

  .look4 i,
  .look6 i,
  .look3 i {
    height: 400px;
  }

  .look3 {
    background-position: -180px;
  }
  .look5 {
    background-position: 0;
  }
  .look6 {
    background-position: -180px;
  }
}
